In [25]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('data/Preprocessed.csv')

In [108]:
filtered_data = data.filter(['city','stateProvince','companyId','avgOverallRating'])
filtered_data.head(20)

                   city stateProvince     companyId  avgOverallRating
0     Dallas-Fort Worth            TX  company00000               0.0
1                Boston            MA  company00001               4.0
2             Melbourne            FL  company00002               0.0
3              Plymouth            MA  company00003               3.8
4             Las Vegas            NV  company00005               3.9
5           Westchester            NY  company00006               3.4
6             Goldsboro            NC  company00010               4.0
7               Buffalo            NY  company00015               0.0
8        Upper Sandusky            OH  company00016               0.0
9              New York            NY  company00017               3.8
10            Charlotte            NC  company00019               3.7
11               Peoria            IL  company00021               5.0
12      King of Prussia            PA  company00022               4.3
13                Flint            MI  company00024               3.7
14                 Pace            FL  company00025               3.7
15  Inver Grove Heights            MN  company00026               3.8
16  South San Francisco            CA  company00027               4.1
17          Casa Grande            AZ  company00028               4.1
18           Northridge            CA  company00029               0.0
19         Indianapolis            IN  company00030               3.6

In [89]:
#company_count = filtered_data.groupby(['city','stateProvince'])['companyId'].count().reset_index(name="count")
#company_count.head(20)

In [114]:
dropped = filtered_data
dropped.loc[dropped['avgOverallRating'] == 0.0, 'avgOverallRating'] = 2.5
dropped.head(20)

                   city stateProvince     companyId  avgOverallRating
0     Dallas-Fort Worth            TX  company00000               2.5
1                Boston            MA  company00001               4.0
2             Melbourne            FL  company00002               2.5
3              Plymouth            MA  company00003               3.8
4             Las Vegas            NV  company00005               3.9
5           Westchester            NY  company00006               3.4
6             Goldsboro            NC  company00010               4.0
7               Buffalo            NY  company00015               2.5
8        Upper Sandusky            OH  company00016               2.5
9              New York            NY  company00017               3.8
10            Charlotte            NC  company00019               3.7
11               Peoria            IL  company00021               5.0
12      King of Prussia            PA  company00022               4.3
13                Flint            MI  company00024               3.7
14                 Pace            FL  company00025               3.7
15  Inver Grove Heights            MN  company00026               3.8
16  South San Francisco            CA  company00027               4.1
17          Casa Grande            AZ  company00028               4.1
18           Northridge            CA  company00029               2.5
19         Indianapolis            IN  company00030               3.6

In [115]:
satisfaction = dropped.groupby(['city','stateProvince'])['avgOverallRating'].mean().reset_index(name="avgOverallRating")
satisfaction.head(20)

                                     city stateProvince  avgOverallRating
0   11 North-Victoria Road-FM 493 Colonia            TX          3.000000
1                                29 Palms            CA          2.500000
2                                     ASU            AZ          2.500000
3                               Abbeville            AL          2.933333
4                               Abbeville            GA          3.400000
5                               Abbeville            LA          2.776923
6                               Abbeville            MS          2.616667
7                               Abbeville            SC          3.738384
8                                   Abbot            IL          3.300000
9                                   Abbot            ME          2.500000
10                             Abbotsford            WI          3.172642
11                                 Abbott            TX          3.400000
12                            Abbott Park            IL          2.905484
13                            Abbottstown            PA          3.290476
14                          Aber Prov Grd            MD          3.976000
15                               Aberdeen            ID          2.500000
16                               Aberdeen            IN          2.500000
17                               Aberdeen            KY          2.633333
18                               Aberdeen            MD          3.082229
19                               Aberdeen            MS          3.530233

In [116]:
satisfaction['avgOverallRating'] = satisfaction['avgOverallRating'].apply(lambda x: x / 5.0)
satisfaction.head(20)
#satisfaction.shape

                                     city stateProvince  avgOverallRating
0   11 North-Victoria Road-FM 493 Colonia            TX          0.600000
1                                29 Palms            CA          0.500000
2                                     ASU            AZ          0.500000
3                               Abbeville            AL          0.586667
4                               Abbeville            GA          0.680000
5                               Abbeville            LA          0.555385
6                               Abbeville            MS          0.523333
7                               Abbeville            SC          0.747677
8                                   Abbot            IL          0.660000
9                                   Abbot            ME          0.500000
10                             Abbotsford            WI          0.634528
11                                 Abbott            TX          0.680000
12                            Abbott Park            IL          0.581097
13                            Abbottstown            PA          0.658095
14                          Aber Prov Grd            MD          0.795200
15                               Aberdeen            ID          0.500000
16                               Aberdeen            IN          0.500000
17                               Aberdeen            KY          0.526667
18                               Aberdeen            MD          0.616446
19                               Aberdeen            MS          0.706047

In [117]:
satisfaction.to_csv('data/satisfaction.csv')